/* pc */

/* Mobile */
@media (max-width: 700px) {
  /* Products List */
  .products {
    padding: 0 20px;
  }
  .latest {
    /* background-color: #f6f6f6; */
    box-shadow: 0 0 10px #ccc;
    padding: 20px 0;
  }
  .bestSelling {
    text-align: center;
  }
  .showMore {
    display: inline-block;
    border: 2px solid #333;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    padding: 15px 40px;
    margin: 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}